
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Grande, sans-serif;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;

    padding: 2.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #ff9900;
}

h3 {
    font-size: 1em;
}

ul {
    margin-top: 2em;
    margin-left: 0.5em;
}

/* CSS table */

.person-list {
    margin-top: 2em;
    margin-left: 0.5em;

    color: #323333;

    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.person-list td {
    padding: 0.4em;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
}

.name-cell {
    color: #111111;
}

.age-cell {
    color: #441111;
}

.person-list tr:nth-child(even) {
    padding: 0.4em;
    background-color: #dddddd;
}