/** Add css rules here for your application. */

* {
    margin: 0;
    padding: 0;
}

button {
    display: block;
    font-size: 16pt
}

.widePanel {
    width: 100%
}

img {
    margin-top: 20px;
}

body {
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #000000;
}
