
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #2e311c;
}


.message {
    color: #111;
    padding: 10px;
    margin: 5px;
    background-color: #eee;
    border: 1px solid black;
}

.error {
    color: #920;
    padding: 10px;
    margin: 5px;
    background-color: #eee;
    border: 1px solid red;
}

.monospaced {
    font-family: monospace;
}

