
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Grande, sans-serif;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;

    padding: 2.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #ff9900;
}

h3 {
    font-size: 1em;
}
